/* GLOBAL THEME */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: #0b0f1a;
    color: #e5e7eb;
}

[data-theme="light"] {
    background: #f3f4f6;
    color: #111;
}

.title {
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
}

.subtitle {
    text-align: center;
    margin-top: 4px;
    opacity: 0.8;
}

/* THEME BUTTON */
.theme-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.theme-btn {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #111827;
    color: white;
}

/* CARDS */
.card {
    width: 85%;
    max-width: 900px;
    margin: 20px auto;
    padding: 16px 20px;
    background: #111827;
    border-radius: 12px;
    border: 1px solid #1f2937;
}

[data-theme="light"] .card {
    background: #ffffff;
    border-color: #d1d5db;
}

.hidden {
    display: none;
}

/* SEARCH */
.search-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.search-row input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #374151;
    background: #0d121e;
    color: white;
}

[data-theme="light"] .search-row input {
    background: #fff;
    color: #111;
}

.scan-btn {
    background: #1d4ed8;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* STATUS */
.status {
    font-size: 13px;
    margin-top: 8px;
    opacity: 0.8;
}

/* SNAPSHOT */
.snapshot-row {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.snapshot-buttons {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.small-btn {
    padding: 7px 12px;
    background: #1e40af;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* ACTIVITY LOG */
.activity-log {
    margin-top: 10px;
    padding: 10px;
    background: #0d1117;
    border-radius: 10px;
    max-height: 350px;
    overflow-y: auto;
}

.tx-item {
    padding: 8px;
    border-bottom: 1px solid #1f2937;
    font-size: 14px;
    color: #e5e7eb;
}

[data-theme="light"] .tx-item {
    color: #111;
}

.tx-in {
    color: #22c55e;
    font-weight: bold;
}

.tx-out {
    color: #ef4444;
    font-weight: bold;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 35px;
    font-size: 11px;
    opacity: 0.45;
}
