body {
    background: #0b0e16;
    color: white;
    font-family: "Roboto Mono", monospace;
}

/* Title */
.title {
    text-align: center;
    font-size: 32px;
    font-family: "Orbitron", sans-serif;
    color: #32ffd0;
}

/* Buttons */
#scanBtn {
    background: #ff4df9;
    color: black;
    font-weight: bold;
    padding: 10px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#scanBtn:hover {
    transform: scale(1.05);
}

/* TX Buttons */
.btn-small {
    background: #32ffd0;
    color: black;
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 6px;
}

.btn-small-alt {
    background: #3f8cff;
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* Badges */
.badge-in {
    background: #32ffd0;
    color: black;
    padding: 4px 12px;
    border-radius: 20px;
}

.badge-out {
    background: #ff4d8d;
    padding: 4px 12px;
    border-radius: 20px;
}

/* Scroll */
.tx-list {
    background: #141722;
    padding: 15px;
    height: 420px;
    border-radius: 10px;
    overflow-y: scroll;
}

.tx-list::-webkit-scrollbar {
    width: 8px;
}

.tx-list::-webkit-scrollbar-thumb {
    background: #ff4df9;
    border-radius: 10px;
}

/* Right panel buttons */
.actions button {
    background: #32ffd0;
    color: black;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/* Leaderboard */
.refreshLB {
    background: #ff4df9;
    padding: 8px 16px;
    border-radius: 6px;
    margin-bottom: 10px;
}
