/* fundo */
body {
    background: #0e1013;
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    color: white;
}

/* layout principal */
.page {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 30px;
    padding: 40px;
}

/* título */
.title {
    font-size: 28px;
    color: #32ffd2;
    margin: 0 0 10px;
}

/* input + botão */
.scan-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

input {
    flex: 1;
    background: #121418;
    border: 1px solid #2a2f36;
    padding: 10px;
    color: #d6d6d6;
    border-radius: 6px;
}

/* botão principal */
.btn-primary {
    background: #ff46c7;
    border: none;
    padding: 10px 22px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.92);
}

/* terminal */
.terminal {
    margin-top: 20px;
    background: #121418;
    border: 1px solid #2a2f36;
    border-radius: 10px;
    height: 430px;
    overflow-y: auto;
    padding: 15px;
    white-space: pre-wrap;
}

/* right cards */
.card {
    background: #121418;
    border: 1px solid #2a2f36;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* rows */
.row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.card-title {
    color: #ff46c7;
    margin: 0 0 15px;
}

/* badges */
.badge-out {
    padding: 4px 10px;
    background: #ff4d79;
    border-radius: 20px;
}

.badge-in {
    padding: 4px 10px;
    background: #1aff9c;
    border-radius: 20px;
}

/* botões secundários */
.btn-secondary {
    background: transparent;
    border: 1px solid #32ffd2;
    color: #32ffd2;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s;
}

.btn-secondary:hover {
    background: #32ffd2;
    color: black;
    transform: scale(1.05);
}

.btn-secondary:active {
    transform: scale(0.92);
}

/* botão row */
.btn-row {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

/* texto cinza */
.muted {
    color: #8f9ba8;
    font-size: 14px;
}
